@import '../styling/variables.scss';

.container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        '. title .'
        '. btn .';
    height: 100vh;

    background-color: $primary;
}

.titleHome {
    grid-area: title;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 75px;
    color: white;
}

.btnPlay {
    grid-area: btn;
    margin: 0 auto;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: $secondary;
    padding: 1em 2em;
    border-radius: 5px;

    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;

    box-sizing: border-box;

    &:hover {
        background-color: rgb(200, 200, 200);
    }
}